body{
    width:1200px;
    margin: 0 auto!important;
}
footer{
    background-color: #292b2c;
    padding: 1%;
    margin: 0;
    color: darkgray;
}

h1, h2{
    text-align: center;
}

.carousel{
    max-width: 1200px;
    margin: 0 auto;
}

.caption{
    color: black!important;
    bottom: 37%!important;
}

.homeButtons{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 2%;
}

.homeButtons h2{
    text-align: center;
}

.homeBtns{
    max-width: 220px;
    margin: 0 auto;
}

.homeBtnLink{
    margin: 1%;
}

.card{
    margin: 1% auto;
}

.myBooksBtn{
    margin-left:1000px;
}

.btnsCard{
    width: 130px!important;
    margin: 0 auto;
}

form{
    max-width: 700px;
    margin: 0 auto;
}

.logo{
    width: 100px;
    display: inline;
}

.logoImg{
    margin: 1%;
}

.footerSection{
    width: 392px;
    height: 100px;
    display: inline-block;
}

.middleSection{
    border-right: darkgray 2px solid;
    border-left: darkgray 2px solid;
}

footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: darkgray;
}

footer a:visited {
    color: grey;
  }
  
 footer a:hover {
    color: white;
    text-decoration: none;
  }
  
  footer a:active {
    color: black;
  }