/*Data Representation and Querying - Project - Sünje Ursa Alice Winteler - G00363332*/

/*General Styling*/
body{
    width:80%;
    margin: 0 auto!important;
    font-family: 'Bookman Old Style', 'Times New Roman', Times, serif!important;
}
footer{
    background-color: #292b2c;
    padding: 1%;
    margin: 0;
    color: darkgray;
}

h1, h2, h3, h4{
    text-align: center;
}

h1{
    font-family: 'Lucida Handwriting', cursive!important;
}

/*Home Page Styling*/
.home{
    background: url(./media/bookshelf_background1.jpg);
    background-size: cover;
    
}

.homeButtons h2{
    font-family: 'Lucida Handwriting', cursive!important;
}

.homepage{
    background-color: rgba(255, 255, 255, 0.4);
}

.homeBottom{
    padding-bottom: 1%;
}

.carousel{
    max-width: 80%;
    margin: 0 auto;
}

.carousel img{
    opacity: 0;

}

.caption{
    color: black!important;
    bottom: 32%!important;
}

.homeButtons{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 2%;
    opacity: 1;
    padding: 1%;
    
}

.homeButtons h2, p{
    text-align: center;
}

.homeBtns{
    max-width: 220px;
    margin: 0 auto;
}

.homeBtnLink{
    margin: 1%;
}

/*My Book Page Styling*/
.mybooks{
    background-image: url(./media/library_background2.jpg);
    background-size: 100%;
}

.mybooksBackground{
    background-color: rgba(255, 255, 255, 0.4);
    padding-bottom: 1%;
}

hr{
    border-top: 1px solid #292b2c!important;
}

.card{
    margin: 1% auto;
}

.myBooksBtn{
    margin-left:74%;
}

.searchApp{
    max-width: 400px;
}

.myBooksBtnLink{
    float: right;
    margin-right: 3%;
}

.bookImg{
    max-width: 350px;
    margin: 0 auto;
    display: block;
    margin-bottom: 1%;
}

.btnsCard{
    width: 160px!important;
    margin: 0 auto;
    margin-bottom: 1%;
}

/*Add and Update*/
.formPage{
    background: url(./media/library_background4.jpg);
    background-size: cover;
    padding: 2%;
}

form{
    max-width: 700px;
    margin: 0 auto;
}

.formPageInner{
    margin: 0 auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
}



/*About Styling */

.about{
    background: url(./media/library_background2.jpg);
    background-size: cover;
    padding: 1%;
}

.aboutInfo{
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    padding: 1%;
}

.about a{
    text-decoration: none;
    color: #292b2c;
    font-weight: bold;
}

.about  a:visited {
    color: black;
  }
  
  .about  a:hover {
    color: white;
    text-decoration: none;
  }
  
  .about  a:active {
    color: black;
  }

  .aboutLogo{
      max-width: 200px;
      margin: 0 auto;
  }

/*Footer Styling*/ 

.logo{
    width: 100px;
    display: inline;
}

.logoImg{
    margin: 1%;
}

.footerSection{
    width: 33%;
    height: 100px;
    display: inline-block;
}

.middleSection{
    border-right: darkgray 2px solid;
    border-left: darkgray 2px solid;
}

footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: darkgray;
}

footer a:visited {
    color: grey;
  }
  
 footer a:hover {
    color: white;
    text-decoration: none;
  }
  
  footer a:active {
    color: black;
  }

  /*Media Queries*/

  @media only screen and (max-width: 1100px) {
    /*Generale*/
    body{
        width: 95%;
    }

    /*Homepage*/
    .carousel{
        display: none;
    }

    /*MyBooks*/
    .myBooksBtn{
        margin: 0 auto;
    }

    .card{
        margin-top: 3%;
        width: 90%!important;
    }

    /**/
    .logo{
        width: 100px;
        display: block;
    }
  }